{% load static %}
<!DOCTYPE html>
<html lang='ru'>
    <head>
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="{% static 'main/css/style.css' %}"/>
        <title>Балабин ИВТ-93. Практическая работа.</title>
    </head>
    <body>

        <br><br>        
        <div class="elementHolder">
            <a class="create-link" href="{% url 'add' %}">Добавить сотрудника</a> 
        </div>
        <br><br>       

        <h2>Сотрудники</h2>
        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>Должность</th>
                    <th>Дата зачисления</th>
                    <th>Департамент</th>
                    <th>Активен</th>
                </tr>
                </thead>
                <tbody id="fl-tbody">
                {% for e in employees %}

                <tr>
                    <td>{{ e.id }}</td>
                    <td>{{ e.name }}</td>
                    <td>{{ e.position }}</td>
                    <td>{{ e.enlisted }}</td>
                    <td>{{ e.department }}</td>
                    <td>{{ e.is_active }}</td>
                </tr>
                
                {% endfor %}

                <tbody>
            </table>
        </div>

        <div class="table-wrapper">
            <form action="{% url 'main' %} " method="POST">
                {% csrf_token %}

                <div class="div-dj">
                    {% for f in del_form %}
                        <div class="form-error">{{ f.errors }}</div>
                        <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
                    {% endfor %}
                    <button type="submit">Удалить</button>
                </div>

            </form>        
        </div>

    </body>
</html>
