body{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    background: rgb(47, 96, 150);
}
h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}

* {
    box-sizing: border-box;
}

.form-wrapper {
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    max-width: 800px;
    margin: 0 auto;
    background: #F8F8F8;   
    border-radius: 2px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    white-space: nowrap;   
    padding: 10px;      
}


label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
    margin: .2rem 0;
}

.confirm-text {
    width: 50%;
}

.confirm-btn {
    float: right;
}

.elementHolder {
    text-align: center;
}

.create-link {
    font-size: 24px;
    color: rgb(255, 255, 255);
}

/* Table Styles */

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    max-width: 800px;
    margin: 0 auto;
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-link-empl {
    color: black;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #2f7560;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

.div-dj {
    max-width: 800px;
    margin: 0 auto;
    background: #F8F8F8;   
    border-radius: 2px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    white-space: nowrap;   
    padding: 10px;   
}

.form-label {
    font-size: 12px;
    background-color: white;    
}
